<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adv.manager.mapper.AdvProjectMapper" >
  <resultMap id="BaseResultMap" type="com.adv.manager.po.AdvProject" >
    <id column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="pusherea" property="pusherea" jdbcType="VARCHAR" />
    <result column="pruduct_pid" property="pruductPid" jdbcType="VARCHAR" />
    <result column="channel_pid" property="channelPid" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="pkg" property="pkg" jdbcType="VARCHAR" />
    <result column="version_code" property="versionCode" jdbcType="VARCHAR" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="app_size" property="appSize" jdbcType="DOUBLE" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="icon_url" property="iconUrl" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, id, pname, type, count, status, pusherea, pruduct_pid, channel_pid, url, pkg, 
    version_code, version_name, app_size, app_name, img_url, icon_url, add_time, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from adv_project
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from adv_project
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adv.manager.po.AdvProject" >
    insert into adv_project (pid, id, pname, 
      type, count, status, 
      pusherea, pruduct_pid, channel_pid, 
      url, pkg, version_code, 
      version_name, app_size, app_name, 
      img_url, icon_url, add_time, 
      remark)
    values (#{pid,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{count,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{pusherea,jdbcType=VARCHAR}, #{pruductPid,jdbcType=VARCHAR}, #{channelPid,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{pkg,jdbcType=VARCHAR}, #{versionCode,jdbcType=VARCHAR}, 
      #{versionName,jdbcType=VARCHAR}, #{appSize,jdbcType=DOUBLE}, #{appName,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{iconUrl,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adv.manager.po.AdvProject" >
    insert into adv_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="pusherea != null" >
        pusherea,
      </if>
      <if test="pruductPid != null" >
        pruduct_pid,
      </if>
      <if test="channelPid != null" >
        channel_pid,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="pkg != null" >
        pkg,
      </if>
      <if test="versionCode != null" >
        version_code,
      </if>
      <if test="versionName != null" >
        version_name,
      </if>
      <if test="appSize != null" >
        app_size,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="iconUrl != null" >
        icon_url,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="pusherea != null" >
        #{pusherea,jdbcType=VARCHAR},
      </if>
      <if test="pruductPid != null" >
        #{pruductPid,jdbcType=VARCHAR},
      </if>
      <if test="channelPid != null" >
        #{channelPid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        #{pkg,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        #{versionCode,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="appSize != null" >
        #{appSize,jdbcType=DOUBLE},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adv.manager.po.AdvProject" >
    update adv_project
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="pusherea != null" >
        pusherea = #{pusherea,jdbcType=VARCHAR},
      </if>
      <if test="pruductPid != null" >
        pruduct_pid = #{pruductPid,jdbcType=VARCHAR},
      </if>
      <if test="channelPid != null" >
        channel_pid = #{channelPid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        pkg = #{pkg,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        version_code = #{versionCode,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="appSize != null" >
        app_size = #{appSize,jdbcType=DOUBLE},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        icon_url = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adv.manager.po.AdvProject" >
    update adv_project
    set id = #{id,jdbcType=INTEGER},
      pname = #{pname,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      count = #{count,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      pusherea = #{pusherea,jdbcType=VARCHAR},
      pruduct_pid = #{pruductPid,jdbcType=VARCHAR},
      channel_pid = #{channelPid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      pkg = #{pkg,jdbcType=VARCHAR},
      version_code = #{versionCode,jdbcType=VARCHAR},
      version_name = #{versionName,jdbcType=VARCHAR},
      app_size = #{appSize,jdbcType=DOUBLE},
      app_name = #{appName,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      icon_url = #{iconUrl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
</mapper>