<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adv.manager.mapper.AppMapper" >
  <resultMap id="BaseResultMap" type="com.adv.manager.po.App" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pkg" property="pkg" jdbcType="VARCHAR" />
    <result column="version_code" property="versionCode" jdbcType="VARCHAR" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="run_pic" property="runPic" jdbcType="VARCHAR" />
    <result column="simpledes" property="simpledes" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="app_size" property="appSize" jdbcType="VARCHAR" />
    <result column="app_icon" property="appIcon" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="app_type" property="appType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="dcpid" property="dcpid" jdbcType="VARCHAR" />
    <result column="dsid" property="dsid" jdbcType="VARCHAR" />
    <result column="ddl_url" property="ddlUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, aid, name, pkg, version_code, version_name, img_url, run_pic, simpledes, description, 
    app_size, app_icon, user_id, pid, app_type, status, add_time, dcpid, dsid, ddl_url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.adv.manager.po.App" >
    insert into app (id, aid, name, 
      pkg, version_code, version_name, 
      img_url, run_pic, simpledes, 
      description, app_size, app_icon, 
      user_id, pid, app_type, 
      status, add_time, dcpid, 
      dsid, ddl_url)
    values (#{id,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{pkg,jdbcType=VARCHAR}, #{versionCode,jdbcType=VARCHAR}, #{versionName,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{runPic,jdbcType=VARCHAR}, #{simpledes,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{appSize,jdbcType=VARCHAR}, #{appIcon,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{pid,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{addTime,jdbcType=TIMESTAMP}, #{dcpid,jdbcType=VARCHAR}, 
      #{dsid,jdbcType=VARCHAR}, #{ddlUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adv.manager.po.App" >
    insert into app
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pkg != null" >
        pkg,
      </if>
      <if test="versionCode != null" >
        version_code,
      </if>
      <if test="versionName != null" >
        version_name,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="runPic != null" >
        run_pic,
      </if>
      <if test="simpledes != null" >
        simpledes,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="appSize != null" >
        app_size,
      </if>
      <if test="appIcon != null" >
        app_icon,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="appType != null" >
        app_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="dcpid != null" >
        dcpid,
      </if>
      <if test="dsid != null" >
        dsid,
      </if>
      <if test="ddlUrl != null" >
        ddl_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        #{pkg,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        #{versionCode,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="runPic != null" >
        #{runPic,jdbcType=VARCHAR},
      </if>
      <if test="simpledes != null" >
        #{simpledes,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="appSize != null" >
        #{appSize,jdbcType=VARCHAR},
      </if>
      <if test="appIcon != null" >
        #{appIcon,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dcpid != null" >
        #{dcpid,jdbcType=VARCHAR},
      </if>
      <if test="dsid != null" >
        #{dsid,jdbcType=VARCHAR},
      </if>
      <if test="ddlUrl != null" >
        #{ddlUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adv.manager.po.App" >
    update app
    <set >
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pkg != null" >
        pkg = #{pkg,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        version_code = #{versionCode,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="runPic != null" >
        run_pic = #{runPic,jdbcType=VARCHAR},
      </if>
      <if test="simpledes != null" >
        simpledes = #{simpledes,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="appSize != null" >
        app_size = #{appSize,jdbcType=VARCHAR},
      </if>
      <if test="appIcon != null" >
        app_icon = #{appIcon,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dcpid != null" >
        dcpid = #{dcpid,jdbcType=VARCHAR},
      </if>
      <if test="dsid != null" >
        dsid = #{dsid,jdbcType=VARCHAR},
      </if>
      <if test="ddlUrl != null" >
        ddl_url = #{ddlUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adv.manager.po.App" >
    update app
    set aid = #{aid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      pkg = #{pkg,jdbcType=VARCHAR},
      version_code = #{versionCode,jdbcType=VARCHAR},
      version_name = #{versionName,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      run_pic = #{runPic,jdbcType=VARCHAR},
      simpledes = #{simpledes,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      app_size = #{appSize,jdbcType=VARCHAR},
      app_icon = #{appIcon,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      pid = #{pid,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      dcpid = #{dcpid,jdbcType=VARCHAR},
      dsid = #{dsid,jdbcType=VARCHAR},
      ddl_url = #{ddlUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>