<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adv.manager.mapper.ChannelProjectMapper" >
  <resultMap id="BaseResultMap" type="com.adv.manager.po.ChannelProject" >
    <id column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="productpid" property="productpid" jdbcType="VARCHAR" />
    <result column="productpname" property="productpname" jdbcType="VARCHAR" />
    <result column="productname" property="productname" jdbcType="VARCHAR" />
    <result column="partnername" property="partnername" jdbcType="VARCHAR" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    pid, id, productpid, productpname, productname, partnername, pname, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from channelproject
    where pid = #{pid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from channelproject
    where pid = #{pid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adv.manager.po.ChannelProject" >
    insert into channelproject (pid, id, productpid, 
      productpname, productname, partnername, 
      pname, remark)
    values (#{pid,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{productpid,jdbcType=VARCHAR}, 
      #{productpname,jdbcType=VARCHAR}, #{productname,jdbcType=VARCHAR}, #{partnername,jdbcType=VARCHAR}, 
      #{pname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.adv.manager.po.ChannelProject" >
    insert into channelproject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="productpid != null" >
        productpid,
      </if>
      <if test="productpname != null" >
        productpname,
      </if>
      <if test="productname != null" >
        productname,
      </if>
      <if test="partnername != null" >
        partnername,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productpid != null" >
        #{productpid,jdbcType=VARCHAR},
      </if>
      <if test="productpname != null" >
        #{productpname,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="partnername != null" >
        #{partnername,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adv.manager.po.ChannelProject" >
    update channelproject
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="productpid != null" >
        productpid = #{productpid,jdbcType=VARCHAR},
      </if>
      <if test="productpname != null" >
        productpname = #{productpname,jdbcType=VARCHAR},
      </if>
      <if test="productname != null" >
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="partnername != null" >
        partnername = #{partnername,jdbcType=VARCHAR},
      </if>
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adv.manager.po.ChannelProject" >
    update channelproject
    set id = #{id,jdbcType=INTEGER},
      productpid = #{productpid,jdbcType=VARCHAR},
      productpname = #{productpname,jdbcType=VARCHAR},
      productname = #{productname,jdbcType=VARCHAR},
      partnername = #{partnername,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=VARCHAR}
  </update>
</mapper>