<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adv.manager.mapper.NotificationMapper" >
  <resultMap id="BaseResultMap" type="com.adv.manager.po.Notification" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="api_key" property="apiKey" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="mode" property="mode" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.adv.manager.po.Notification" extends="BaseResultMap" >
    <result column="uri" property="uri" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, id, api_key, img_url, message, mode, title, username
  </sql>
  <sql id="Blob_Column_List" >
    uri
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from notification
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from notification
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.adv.manager.po.Notification" >
    insert into notification (uuid, id, api_key, 
      img_url, message, mode, 
      title, username, uri
      )
    values (#{uuid,jdbcType=VARCHAR}, #{id,jdbcType=BIGINT}, #{apiKey,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{mode,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{uri,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.adv.manager.po.Notification" >
    insert into notification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="apiKey != null" >
        api_key,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="mode != null" >
        mode,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="uri != null" >
        uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="apiKey != null" >
        #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.adv.manager.po.Notification" >
    update notification
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="apiKey != null" >
        api_key = #{apiKey,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        mode = #{mode,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.adv.manager.po.Notification" >
    update notification
    set id = #{id,jdbcType=BIGINT},
      api_key = #{apiKey,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      mode = #{mode,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      uri = #{uri,jdbcType=LONGVARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.adv.manager.po.Notification" >
    update notification
    set id = #{id,jdbcType=BIGINT},
      api_key = #{apiKey,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      mode = #{mode,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>